@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #000;
}

#create-review-wrapper {
    margin: 4rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#create-review-container {
    border: 3px solid #DDD;
    margin: -1rem 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    box-shadow: 2px 3px 8px rgba(27,68,46, 0.2);
}

#create-review-container > h1 {
  font-family: 'Alice', serif;
  text-align: center;
}

input {
  margin: 0;
}

.create-review-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-review-rating {
    background-color: #E3EEE6;
    width: 35vw;
    padding: 15px;
    border-radius: 4px;
    margin: 1vh;
    border: 1px solid #A3B4AB;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

.create-review-rating:focus {
  outline: 3px solid #C3D6CC;
  border: none;
}

.create-review-content {
    background-color: #E3EEE6;
    width: 35vw;
    height: 5vh;
    padding: 15px;
    border-radius: 4px;
    margin: 1vh;
    font-size: 14pt;
    border: 1px solid #A3B4AB;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
    overflow: scroll;
}

.create-review-content:focus{
  outline: 3px solid #C3D6CC;
  border: none;
}

.create-review-button {
    position: relative;
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    margin: 1rem 0 1rem 0;
}