@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #0D2217;
}

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  position: fixed;
  background-color: #FFF;
  width: 30vw;
  border-radius: 8px;
  text-align: center;
  padding: 10px;
} 

#modal-content img {
  width: 50%;
}

.sign-up-form input {
  position: relative;
  border: none;
  width: 70%;
  display: block;
  margin: 2rem auto;
  background-color: #F7F7F7;
}

#modal-user-field {
  background-color: #E3EEE6;
  padding: 15px;
  border-radius: 4px;
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
  color: #0D2217;
}

#modal-user-field:focus{
  outline: 3px solid #C3D6CC;
  border: none;
}

#modal-password-field {
  background-color: #E3EEE6;
  padding: 15px;
  border-radius: 4px;
  font-size: 14pt;
  font-family: 'Raleway', sans-serif;
  color: #0D2217;
}

#modal-password-field:focus{
  outline: 3px solid #C3D6CC;
  border: none;
}

.signin-or-signup {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.welcome-button {
  position: relative;
  padding: 15px;
  margin: 0 1rem 2rem 1rem;
  background-color: transparent;
  border: 2px solid #0D2217;
  border-radius: 4px;
  color: #1B442E;
  width: 70%;
}

.welcome-button:hover {
  background-color: #ECF6F1;
  font-size: 16.5pt;
}

.signup-instead {
  margin: 0 0 1rem 0;
  color: #1B442E;
}

#modal-close {
  position: absolute;
  top: -1rem;
  right: 1rem;
  cursor: pointer;
  transform: rotate(45deg);
  font-size: 45pt;
  color: #1B442E;
}
