/* ORIGINAL MODAL STYLING

#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color:green;
} 
END ORIGINAL MODAL STYLING
*/

@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');
/* font-family: 'Alice', serif;
font-family: 'Raleway', sans-serif; */

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #333;
}


#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-content {
  position: absolute;
  background-color: #FFF;
  width: 35vw;
  height: 50vh;
  border-radius: 4px;
  text-align: center;
  padding: 10px;
  border: 3px solid red;
} 

#modal-content img {
  width: 50%;
  border: 3px solid red;
}

#modal-field {
  background-color: green;
  border: 3px solid red;
}

input {
  border: 3px solid red;
  width: 50%;
  display: block;
  margin: 0 auto;
  /* border: none; */
  background-color: #F7F7F7;
}

.welcome-button {
  border: 3px solid red;
  background-color: #BAD5C2;
  color: #337233;
}