@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

body {
    background-color: #F7F7F7;
}

#drink-list-container {
    margin: 4rem 10rem;
    display: flex;
    flex-direction: column;
}

#drink-list-container h1, h2 {
    color: #333;
    font-family: 'Alice', serif;
    padding: 1rem 3rem;
    margin: 1rem 0 0 0;
}

#drink-list-container p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    padding: 1rem 2rem;
    margin: 1rem 0 2rem 0;
    text-align: center;
}

.drink-profile-container {
    border: 3px solid #DDD;
    margin: -1rem 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;
    text-align: center;
    box-shadow: 2px 3px 8px rgba(27,68,46, 0.2);
}

#drink-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    list-style: none;
    box-shadow: 3px 3px 5px rgba(216,216,216, 0.7);
    margin: 1rem 2rem;
}

#drink-profile:hover {
    box-shadow: 3px 3px 5px rgba(172,172,172, 0.7);
}

.drink-img-container {
    position: relative;
    min-width: 200px;
    max-width: 200px;   
    height: 300px;
    overflow: hidden;
}

#drink-profile-img {
    width: 100%;
}

.drink-title-text {
    display: inline;
    position: relative;
    font-family: 'Alice', serif;
    font-size: 26pt;
    text-decoration: none;
    color: #1B442E;
}

.drink-profile-content {
    flex-grow: 4;
    text-align: center;
}

.drink-profile-reviews {
    margin: 1rem 12rem 0 12rem ;
    border-top: 1px solid #CCC;
}

.learn-more-button {
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    margin: -1rem 2rem 2rem 2rem;
    text-transform: uppercase;
    font-size: 12pt;
}