@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');
/* font-family: 'Alice', serif;
font-family: 'Raleway', sans-serif; */

body {
    background-color: #F7F7F7;
}

#drink-list-container {
    /* border: 5px solid green; */
    margin: 4rem 10rem;
    display: flex;
    flex-direction: column;

    /* text-align: center; */
}

#drink-list-container h1, h2 {
    color: #333;
    font-family: 'Alice', serif;
    padding: 1rem 3rem;
    margin: 1rem 0 0 0;
    /* text-align: left; */
}

#drink-list-container p {
    color: #333;
    font-family: 'Raleway', sans-serif;
    padding: 1rem 2rem;
    margin: rem 0 2rem 0;
    text-align: center;
    /* display: flex; */

}

.drink-profile-container {
    border: 3px solid #DDD;
    margin: -1rem 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: stretch;
    /* flex-wrap: wrap; */
    text-align: center;
    box-shadow: 2px 3px 8px rgba(27,68,46, 0.2);
}

#drink-profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: no-wrap;
    list-style: none;
    box-shadow: 3px 3px 5px rgba(216,216,216, 0.7);
    margin: 1rem 2rem;
}

#drink-profile:hover {
    box-shadow: 3px 3px 5px rgba(172,172,172, 0.7);
}

.drink-img-container {
    position: relative;
    min-width: 200px;
    max-width: 200px;   
    height: 300px;
    overflow: hidden;
}

#drink-profile-img {
     /* position: absolute; */
     width: 100%;
    /* padding: 2rem; */
     /* height: auto;
     top: 50%;     
     left: 50%;
     transform: translate( -50%, -50%); */
}

.drink-title-text {
    display: inline;
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 26pt;
    text-decoration: none;
    color: #1B442E;
}

/* .drink-title-text:hover {
    color: #2F7750;
} */

.drink-profile-content {
    flex-grow: 4;
    text-align: center;
    /* margin: 1rem 3rem 0 3rem; */
    /* padding: 2rem; */
}

.drink-profile-reviews {
    margin: 1rem 12rem 0 12rem ;
    border-top: 1px solid #CCC;
}

.drink-list-button {
    background-color: #E3EEE6;
    color: #1B442E;
    margin: -1rem 0 2rem 0;
}