@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #000;
}

#update-drink-wrapper {
    margin: 4rem 16rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#update-drink-container {
    border: 3px solid #DDD;
    margin: -1rem 10rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    text-align: center;
    box-shadow: 2px 3px 8px rgba(27,68,46, 0.2);
}

#update-drink-container > h1 {
  font-family: 'Alice', serif;
  text-align: center;
}

input {
  margin: 0;
}

.update-drink-title {
    background-color: #E3EEE6;
    width: 35vw;
    padding: 15px;
    border-radius: 4px;
    margin: 1vh;
    border: 1px solid #A3B4AB;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

.update-drink-title:focus {
  outline: 3px solid #C3D6CC;
  border: none;
}

.update-drink-content {
    background-color: #E3EEE6;
    width: 35vw;
    height: 5vh;
    padding: 15px;
    border-radius: 4px;
    margin: 1vh;
    font-size: 14pt;
    border: 1px solid #A3B4AB;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
    overflow: scroll;
}

.update-drink-content:focus{
  outline: 3px solid #C3D6CC;
  border: none;
}

.create-drink-img {
    background-color: #E3EEE6;
    width: 35vw;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #A3B4AB;
    margin: 1vh;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

.update-drink-img:focus {
  outline: 3px solid #C3D6CC;
  border: none;
}

.update-submit-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.drink-update-button {
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    width: 14vw;
    margin: 1rem 0 1rem 0;
}

.drink-delete-button {
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    margin: 1rem 0 2rem 0;
}

.drink-delete-button:hover {
    background-color: #cc0000;
    color: white;
    text-transform: uppercase;
}