html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
}

body {
    background: #F7F7F7;
    margin: 0;
}

.footer-links li {
    display: inline;
    list-style: none;
}