/* .splash-wrapper {
    border: 2px solid red;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 500px;
    background-color: #F7F7F7;
}

.splash-hero {
    grid-column: 1 / 5;
    text-align: end;
    background-image: url(../../images/gandtbkgnd.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.splash-demo-panel {
    grid-column: 1 / 5;
    margin-top: 0.5em;
    text-align: end;
}

.section {
    grid-column: 1 / 5;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 30px;
    margin-top: 0.5em;
}

h1 {
    margin-right: 0.2em;
    margin-top: 0.2em;
}

h2 {
    text-align: center;
    margin-top: 5em;
}

.cards {
    background-color: white;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin-top: 2em;
    height: 100%;
    align-items: center;
}

.cards:hover {
    transform: scale(1.1);
}

footer {
    grid-column: 1 / 5;
    margin: 0.5em;
}

button {
    display: block;
    margin: auto;
    background-color: black;
    border: none;
    color: white;
} */

body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    background-color: #F7F7F7;
    border: 2px solid red;
    line-height: 1.4;
}

img {
    max-width: 100%;
}

.splash-wrapper {
    display: grid;
    grid-gap: 20px;
}

/* NAVIGATION - MOVE TO NAV, min 2007*/
/* 
.main-nav ul {
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    gride-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background-color: #F7F7F7;
    display: block;
    text-decoration: non;
    padding: 0.8rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.main-nav a:hover {
    background-color: #000;
    color: #F7F7F7;
}
*/

/*Top Container*/

.top-container {
    grid-template-areas:
    'splash-hero-image splash-hero-image splash-hero-image splash-hero-image'
    'splash-hero-image splash-hero-image splash-hero-image splash-hero-image'
    'demo-row demo-row demo-row demo-row'
    /* 'feature-row feature-row feature-row feature-row' */

}

.splash-hero-image {
    grid-area: splash-hero-image;
    /* min-height: 400px; */
    /* background-image: url(../../images/gandtbkgnd.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;   */
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.feature-row {
    /* grid-area: feature-row; */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.feature-row-left {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.feature-row-right {
    background-color: #fff;
    text-align: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.secondary-image {
    background-color: #F7F7F7; 
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
}

.demo-row {
    grid-area: demo-row;
}



