@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16pt;
  color: #F7F7F7;
}

.signup-form-background {
    background-image: linear-gradient(rgba(254, 248, 247, 0.8), rgb(254, 248, 247) 85%), url('https://images.pexels.com/photos/3171815/pexels-photo-3171815.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    min-width: 100%;
    background-color: #F7F7F7;  
    display: flex;
    padding: 1rem 0 45rem 0;
}

#signup-container {
    background-color: #FFF;
    width: 30%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 3px 8px rgba(27,68,46, 0.2);
}

#signup-banner {
    width: 25%;
}

#signup-container h1 {
    color: #000;
    margin: 1rem 0 -1rem 0;
    font-family: 'Alice', serif; 
    font-size: 28pt;
    margin: 1rem 0 -2rem 0;
} 

#signup-container h2 {
    color: #000;
    font-size: 22pt;
}

input {
  position: relative;
  border: none;
  width: 70%;
  display: block;
  margin: 40px auto;
  background-color: #F7F7F7;
}

#signup-email-field {
    background-color: #E3EEE6;
    width: 20vw;
    padding: 15px;
    border-radius: 4px;
    margin: 2rem 0 1rem 0;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

#signup-email-field:focus {
    outline: 3px solid #D9EEE3;
} 

#signup-username-field {
    background-color: #E3EEE6;
    width: 20vw;
    padding: 15px;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

#signup-username-field:focus {
    outline: 3px solid #D9EEE3;
} 

#signup-password-field {
    background-color: #E3EEE6;
    width: 20vw;
    padding: 15px;
    border-radius: 4px;
    margin: 1rem 0 1rem 0;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

#signup-password-field:focus {
    outline: 3px solid #D9EEE3;
} 

#signup-confirm-field {
    background-color: #E3EEE6;
    width: 20vw;
    padding: 15px;
    border-radius: 4px;
    margin: 1rem 0 2rem 0;
    font-size: 14pt;
    font-family: 'Raleway', sans-serif;
    color: #0D2217;
}

#signup-confirm-field:focus {
    outline: 3px solid #D9EEE3;
} 

.signup-form-button {
    background-color: transparent;
    border: 2px solid #0D2217;
    border-radius: 4px;
    margin: 1rem 0 2rem 0;
    color: #1B442E;
}

.signup-form-button:hover {
    background-color: #ECF6F1;
    font-size: 16.5pt;
}

.cancel-signup {
    color: #1B442E;
    padding: -2rem 0 2rem 0;
    margin: -2rem 0 3rem 0;
}