/* .main-nav ul {
    max-width: 100%;
    background-color: gray;
    display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
}

.main-nav a {
    background-color: #F7F7F7;
    display: block;
    text-decoration: non;
    padding: 0.8rem;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 1.1rem;
    box-shadow: 0 1px 5px rgba(104,104,104, 0.8);
}

.main-nav a:hover {
    background-color: #000;
    color: #F7F7F7;
} */

/* #nav-bar {
    border: 3px solid red;
    background: #F1F6F2;
    text-align: center;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; */
/* } */

.navigation-links {
    padding-left: 0;
}

.navigation-links {
    border: 3px solid blue;
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#nav-link-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    position: relative;
}

#nav-home-button {
    border: 2px solid red;
    margin: 2rem 1 rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

/* #nav-profile-button {
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    margin: 1rem;
} */

#nav-all-drinks-button {
    border: 2px solid red;
    margin: 2rem 1 rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

#nav-create-drink-button {
    border: 2px solid red;
    margin: 2rem 1 rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

/* #nav-see-reviews-button {
    background-color: #E3EEE6;
    border: 1px solid #A3B4AB;
    color: #1B442E;
    margin: 1rem;
} */

#user-welcome-message {
    border: 2px solid red;
    color: #333;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
}

#nav-logout-button {
     border: 2px solid red;
    margin: 2rem 1 rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}