@import url('https://fonts.googleapis.com/css2?family=Alice&family=Raleway&display=swap');

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    padding: 1rem;
    width: 100%;
    box-shadow: 3px 3px 5px rgba(216,216,216, 0.7);
}


.navigation-links {
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}

#nav-link-group {
    display: flex;
}

#nav-home-button {
    margin: 1rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

#nav-all-drinks-button {
    margin: 1rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

#nav-create-drink-button {
    margin: 1rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}

#user-welcome-message {
    font-family: 'Alice', serif;
    color: #1B442E;
    padding: 0.3rem 5rem 0 0;
    display: inline-block;
    position: relative;
}

#nav-logout-button {
    margin: 1rem;
    background-color: #E3EEE6;
    border: 2px solid #A3B4AB;
    color: #1B442E;
    text-transform: uppercase;
    padding: 1vh 2vw;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
}